header {background-color: darkblue; color: white;}
nav {background-color: skyblue;}
.resort {color: #5C7FA3;}
h2 {color: mediumblue;}
body {
    background-color: white;
    color: #666666;


div {background-color: mediumblue}
    
h3 {color: darkblue}
}